header {
  background-color: pink;
}

#game {
  background-color: cadetblue;
}

.card-container,
.result-container {
  background-color: darkseagreen;
}

img {
  width: 100px;
}

.player {
  border: 3px solid slateblue;
}

.opponent {
  border: 3px solid sienna;
}
